$primary: #940700;
$border: #3c3c3c;
$background: linear-gradient(-45deg, #0d0d0d 30%, #161616 100%);
$shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
	rgba(0, 0, 0, 0.09) 0px -3px 5px;

@font-face {
	font-family: "CircularStd";
	font-weight: 100;
	font-style: normal;
	src: url(~@src/fonts/CircularStd/CircularStd-Light.otf) format("opentype");
}

@font-face {
	font-family: "CircularStd";
	font-weight: normal;
	font-style: normal;
	src: url(~@src/fonts/CircularStd/CircularStd-Book.otf) format("opentype");
}

@font-face {
	font-family: "CircularStd";
	font-weight: bold;
	font-style: normal;
	src: url(~@src/fonts/CircularStd/CircularStd-Bold.otf) format("opentype");
}

@font-face {
	font-family: "CircularStd";
	font-weight: 900;
	font-style: normal;
	src: url(~@src/fonts/CircularStd/CircularStd-Black.otf) format("opentype");
}

$themeColor: #f0f0f0;
$bgColor: #c7c7c731;
@import "~vue-slider-component/lib/theme/material.scss";
